<!-- views/partials/_header.ejs -->

<header>TinyApp</header>
<p>User: <%= username %></p>
<% if(username) { %>
  <form action="/logout" method="POST">
    <input type="submit" value="Sign Out">
  </form>
<% } else { %>
  <form action="/login" method="POST">
    <input id="username" type="text" name="username">
    <input type="submit" value="Sign In">
  </form>
<% } %>
