<!DOCTYPE html>
<html lang="en">
<body>
  ShortURL: <%= shortURL %>
  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Update">
  </form>
  <form action="/urls/<%= shortURL %>/delete" method="POST">
    <input type="submit" value="Delete">
  </form>
</body>
</html>
