<!DOCTYPE html>
<html lang="en">
<body>
  <% include partials/_header %>
  <% if (userId) { %>
    <% for (url in urls[userId]) { %>
      <%= url %> &#8594; <%= urls[userId][url] %>
      <a href="/urls/<%= url %>">Edit</a>
      <form action="/urls/<%= url %>/delete" method="POST" style="display: inline;" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    <% } %>
    <form action="/urls/new" method="GET">
      <input type="submit" value="Create a New Short Link">
    </form>
  <% } %>
</body>
</html>
