<!DOCTYPE html>
<html lang="en">
<body>
  ShortURL: <%= shortURL %>
  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <button type="submit">Update</button>
  </form>
  <form action="/urls/<%= shortURL %>/delete" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
</body>
</html>

<!--
1. keep track of how many times a given short URL is visited
and display it on the edit page for the url

2. keep track of how many UNIQUE visitors visit each url
(set a cookie to track of distinct users), display this along side the total visitors number

3. keep track of every visit (timestamp, and a generated
visitor_id) and display the list on the URL edit page
-->
