<!DOCTYPE html>
<html lang="en">
<body>
  <li> ShortURL: <%= shortURL %> </li>
  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  <a href="/urls">Go Back</a>
</body>
</html>
