<!DOCTYPE html>
<html lang="en">
<body>
  <% include partials/_header %>
  <% for (id in DB) { %>
    <% for (url in DB[id]) { %>
      <div>
        <%= url %> &#8594; <%= DB[id][url] %>
        <% if (cookie) { %>
          <a href="/urls/<%= url %>">Edit</a>
          <form style="display: inline;" action="/urls/<%= url %>/delete" method="POST">
            <input type="submit" value="Delete">
          </form>
        <% } %>
      </div>
    <% } %>
  <% } %>
    <form action="/urls/new" method="GET">
      <input type="submit" value="Create Link">
    </form>
</body>
</html>
