<!DOCTYPE html>
<html lang="en">
<body>
  <% include partials/_header %>
  <% if (userId) { %>
    <% for (url in urls[userId]) { %>
      <%= url %> &#8594; <%= urls[userId][url] %>
      <a href="/urls/<%= url %>">Edit</a>
      <form style="display: inline;" action="/urls/<%= url %>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
    <% } %>
    <form action="/urls/new" method="GET">
      <input type="submit" value="Create a New Short Link">
    </form>
  <% } %>
</body>
</html>
